{% extends 'base.html.twig' %}

{% block title %}New AntHeredofamiliares{% endblock %}

{% block body %}
  <div class="card-body p-5 bg-white rounded">
  {% for flash_message in app.session.flashbag.get('exito') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}
    {{ include('full_antecedentes/ant_base.html.twig') }}
      
    {{ include('ant_heredofamiliares/_form.html.twig') }}
    <br>



  <ul id="myTab1" role="tablist" class="nav nav-tabs nav-pills with-arrow flex-column flex-sm-row text-center">
      <li class="nav-item flex-sm-fill">
        <a id="home1-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home1" aria-selected="true" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 border active">Registros Consulta Actual</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="profile1-tab" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 border">Historial AntHerodofamiliares</a>
      </li>
    </ul>


    <div id="myTab1Content" class="tab-content">
    
      <div id="home1" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
     
            <div class="table-responsive">
        <table  id="example" style="width:100%" class="content-table table-sm">
        <thead>
            <tr>
                <th>Patología</th>
                <th>Descripción Enfermedad</th>
                <th>Parentesco</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="articles4">
        {% for c in antecedentes %}
            <tr>
                <td>{{ c.Patologia }}</td>
                <td>{{ c.descripcion }}</td>
                <td>{{ c.Parentesco }}</td>
                <td>
                   <a class="dropdown-item" href="{{ path('ant_heredofamiliares_edit', {p: c.pacientes.id, id: c.id, c:c.consulta.id}) }}" style="font-size: 0.8em">Editar Antecedente</a>
                   
                    <a href="#" class="dropdown-item delete-article" data-id="{{c.id}}" style="font-size: 0.8em">Eliminar</a>  
                </td>
            </tr>
       {% if antecedentes is empty %}
         <tr>
        <td colspan="4">No hay registros disponibles</td>
         </tr>
      {% endif %}
        {% endfor %}
        </tbody>
    </table>

        </div>

     </div>


      <div id="profile1" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
           <div class="table-responsive">
        <table  id="example2" style="width:100%" class="content-table table-sm">
        <thead>
            <tr>
                <th>Consulta</th>
                <th>Fecha_Consulta</th>
                <th>Patología</th>
                <th>Descripción Enfermedad</th>
                <th>Parentesco</th>
         
            </tr>
        </thead>
        <tbody>
        {% for c in antecedentes2 %}
            <tr>
              {% if c.consulta.motivoconsulta  is defined and c.consulta.motivoconsulta  is not null %}
                   <td>{{c.consulta.motivoconsulta}}</td>
                  {% else %}
                   <td>Sin dato</td>
                {% endif %}

                {% if c.consulta.fechaatencion  is defined and c.consulta.fechaatencion  is not null %}
                   <td>{{ c.consulta.fechaatencion ? c.consulta.fechaatencion|date('Y-m-d') : '' }}</td>
                  {% else %}
                   <td>Anterior al 2023</td>
                {% endif %}
                <td>{{ c.Patologia }}</td>
                <td>{{ c.descripcion }}</td>
                <td>{{ c.Parentesco }}</td>
            </tr>
      {% if antecedentes2 is empty %}
         <tr>
        <td colspan="4">No hay registros disponibles</td>
         </tr>
      {% endif %}
        {% endfor %}
        </tbody>
    </table>

        </div>
     
              
      
      </div>

      </div>
</div>
{% endblock %}


{% block javascripts %}

  <script> 
       $(document).ready(function() {
        $('#example').DataTable( {
            language: {
            url: 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json'
        },     
         'responsive': true,     
  } );
    } );
 </script>


  <script> 
       $(document).ready(function() {
        $('#example2').DataTable( {
             
            language: {
            url: 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json'
        },

          
           'responsive': true,
            order:[1, 'desc'],
            columnDefs: [ {
            targets: [ 0 ],
            visible: false
        } ],
            rowGroup: {
            startRender: null,
            startRender: function ( rows, group ) {
                return group +' ('+rows.count()+')';
            },
            dataSrc: [0,1]
        },
  
         
  } );
    } );
 </script>

 <script>
  const articles4 = document.getElementById('articles4');

   if (articles4) {
     articles4.addEventListener('click', e => {
       if (e.target.className === 'dropdown-item delete-article') {
         if (confirm('Esta seguro de eliminar este elemento?')) {
              const value = e.target.getAttribute('data-id');
              let route = "{{ path('delate_herencia', { id: 'fileId_' }) }}";
              route = route.replace('fileId_', value);
           fetch(route, {
             method: 'DELETE'
           }).then(res => window.location.reload());
         }
       }
     });
   };
  </script>

   <script type="text/javascript"> 
     window.onload= function(){
       document.getElementById("op4").style="background-color: #FDF4BC;";
     }
 </script>



   


  

   {% endblock %}
